.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.dashboard{
  /* display:flex;
  justify-content: space-between; */
  height: auto;

}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
  
.left 
{
    display: flex;
    margin-left: -650px;
    border-right: 2px solid #2b4c8c;
    margin-top: 56px;
    background-color: white;
    position: absolute;
    left: 51%;
    max-width: 323px;
    width: -259px;
    flex-direction: flex;
}
  
.right {
  background-image: url(../assets/chatbackground.jpeg);
  margin-left: 325px;
  width: 74%;
  top: 56px;
  position: inherit;
}

.displayname
{
  background-color: white;
  border: none;
  text-align: left;
  font-size: 22px;
  cursor: pointer;
  color: black;
  width: 307px;
  height: 50px;
  display: flex;
  flex-direction: flex;
}

.username{
  text-align: center;
  font-size: 22px;
}

.name{
  background-color: lightblue;
}

.textbox textarea
{
  display: flex;
  width: 100%;
  border-radius: 41px;
  overflow: hidden;
  /* border-color: transparent; */
  outline: none;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 35px;

}

.textbox{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 466px;
}
    /* margin-top: 0px;
    margin-bottom: 0px;
    height: 24px;
    width: 73%;
    margin-left: 10px;
    border-radius: 10px; */

.messages{
  width: 100%;
  word-break: break-all;
  display: flex;
  flex-direction: column
}

.chatMsg{
    margin-left: 10px;
    margin-top: 15px;
    border: 1px solid;
    border-color: lightgrey;
    background: whitesmoke;
    width: 40%;
    border-radius: 8px;
}


.chatMessage{
margin-left: 340px;
margin-top: 15px;
border: 1px solid;
border-color: lightgrey;
background: lightgrey;
width: 40%;
border-radius: 8px;
float: right
}