<head>
    <link rel="stylesheet" href="../css/forgotpassword.css" type="text/css">
</head>

<div class="form-fields">
    <div class="forgotpassword">
        <h5>Please Enter Email Id</h5>
        <form name="forgotForm">
            <div class="label">
                <input type="email" name="email" class="text-field" placeholder="Email" ng-model="email" ng-pattern="emailRe" ng-required="true" >
                <div ng-show="forgotForm.email.$touched && forgotForm.email.$invalid || forgotForm.email.$error.pattern">
                    <small style="color:black; display:block; text-align:center">Please Enter Email eg.(john.doe@gmail.com)</small>
                </div>             
            </div>
            <div class="buttonforgot">
                <button ng-click="continue()" ng-disabled="forgotForm.$invalid" class="btn btn-success">Continue</button><br>
            </div>
        </form>
    </div>
</div>