<div class="form-fields">
    <div class="login">
        <h4>Sign In</h4>
        <!-- <img src="../assets/avatar.jpg" class="avatar"> -->
        <div class="form">
            <div class="label">
                <input type="email" class="text-field" placeholder="Email" ng-model="email">
            </div>
            <div class="label">
                <input type="password" class="text-field" placeholder="Password" ng-model="password">
            </div>
            <div class="login-button">
                <button ng-click="login()" class="btn btn-success">Log in</button><br>
            </div>
        </div>
        <div class="forgot-link">
            <a href="/#/forgotpassword">Forgot Password? </a>
        </div>
        <div class="registration-link"></div>
        <a href="/#/register">Create Account? </a>
    </div>
</div>
</div>