<div class="form-fields">
    <div class="register">
        <h4>Sign Up</h4>
        <form  name="registrationform">
            <div class="label">
                <input type="text" name="firstName" class="text-field" placeholder="FirstName " ng-model="firstName" ng-required="true" ng-minlength="3">
            </div>
            <div class="label">
                <input type="text" class="text-field" placeholder="LastName " ng-model="lastName">
            </div>
            <div class="label">
                <input type="email" class="text-field" placeholder="Email" ng-model="email">
            </div>
            <div class="label">
                <input type="password" class="text-field" placeholder="Password" ng-model="password">
            </div>
        </form>
        <div class="register-button">
            <button ng-click="register()" class="btn btn-success">Register</button><br>
        </div>
        <div class="login-link">
                <a href="/#/login">Already Registered? </a>
        </div>
    </div>
</div>