<div class="form-fields">
    <div class="resetpassword">
        <h5>Please New Password</h5>
        <form name="resetForm">
            <div class="label">
                <input type="password" name="password" class="text-field" placeholder="Password" ng-model="password" ng-pattern="passRe" ng-required="true" ng-minlength="8">
                <div ng-show="resetForm.password.$touched && resetForm.password.$invalid || resetForm.password.$error.pattern">
                    <small style="color:black; display:block; text-align:center">Please Enter Password of minimum 8 characters and Password should contain only characters and numbers</small>
                </div>             
            </div>
            <div class="buttonreset">
                <button ng-click="saveChanges()" ng-disabled="registrationForm.$invalid" class="btn btn-success">Save</button><br>
            </div>
        </div> 
    </div>
</div>
